body {
    background-color: #4F5DE2;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
/* nav max */
.nav-web {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45px;
    position: fixed;
    z-index: 3;
    background-color: transparent;
}

.nav-web-black {
    background-color: slategrey;
}

.nav-web .item {
    position: relative;
    width: 400px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid 2px black;
    text-align: center;
    justify-content: center;
    color: black;
    border-radius: 30px;
    cursor: pointer;
}

    .nav-web .item > a {
        text-decoration: none;
        color: black;
    }

    .nav-web .item:hover:not(#logdata) {
        color: white;
        border: solid 2px rgb(0, 0, 0);
        background-color: black;
        transition: ease 0.4s;
    }

    .nav-web .item:hover > a {
        color: white;
        background-color: black;
        transition: ease 0.4s;
    }

    .nav-web .item ul {
        color: white;
        display: none;
        background-color: rgba(0, 0, 0, 0.178);
        text-align: center;
        justify-content: center;
        padding: 5px;
        transform: translateY(-9px);
        border-radius: 10px;
    }

    .nav-web .item:hover ul {
        display: block;
    }
    .nav-web .item ul li {
        list-style-type: none;
        text-align: center;
        height: 30px;
        animation: dropdownMove 1s alternate;
        transition: ease 0.7s;
        cursor: pointer;
    }

        .nav-web .item ul li a {
            text-decoration: none;
            color: white;
        }

        .nav-web .item ul li:hover a {
            transform: scale(1.1);
            text-shadow: 2px 2px black;
            color: blue;
        }

        .nav-web .item ul li:hover {
            transform: scale(1.1);
            text-shadow: 2px 2px black;
            color: blue;
        }

.nav-web .signup {
    margin-left: 100px;
    margin-right: 20px;
}
/*Logout*/
#logdata {
    width: 830px;
    border: none;
    display: flex;
    margin-left: 0px;
    margin-right: 20px;
    border-radius: 0px;
}

    #logdata .img {
        width: auto;
        height: 100%;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        #logdata .img a {
            width: 100%;
            height: 100%;
        }

            #logdata .img a img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }

                #logdata .img a img:hover {
                    transform: scale(1.1);
                }

    #logdata .info,
    #logdata .Logout {
        width: auto;
    }

        #logdata .info a,
        #logdata .Logout a {
            text-decoration: none;
            width: 100%;
            height: 100%;
            color: black;
            display: flex;
            font-size: 22px;
            font-weight: bold;
            font-family: agency fb;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

            #logdata .info a:hover,
            #logdata .Logout a:hover {
                transform: scale(1.1);
                text-shadow: 2px 2px black;
                color: deepskyblue;
            }

    #logdata .Logout {
        margin-left: 15%;
    }

.logo {
    margin-right: 100px;
    margin-left: 40px;
    border: none;
    width: 500px;
    cursor: pointer;
}

#logo img {
    width: 100%;
    height: 100%;
}

.logo {
    margin-right: 100px;
    margin-left: 40px;
    border: none;
    width: 200px;
    cursor: pointer;
}

#logo img {
    width: 100%;
    height: 100%;
}
/* nav min */
.nav-min {
    display: none;
    justify-content: center;
    width: 100%;
    height: 45px;
    position: fixed;
    z-index: 3;
    background-color: transparent;
}

.nav-min-black {
    background-color: slategrey;
}

.nav-min div {
    margin-left: 50%;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.nav-min .menu {
    margin-left: 0;
    left: 0;
    width: 30%;
    border: solid 2px black;
    text-align: center;
    justify-content: center;
    color: black;
    border-radius: 30px;
    cursor: pointer;
}

    .nav-min .menu:hover {
        color: white;
        border: solid 2px white;
        background-color: black;
        transition: ease 2s;
    }

.nav-side {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.705);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .nav-side .inner-nav {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.274);
    }

        .nav-side .inner-nav div {
            position: absolute;
        }

.inner-logo {
    left: 30px;
    height: 40px;
}

.close {
    right: 20px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: xx-large;
    transition: all 1s;
}

    .close:hover {
        background-color: rgb(4, 3, 51);
        color: seashell;
    }

.nav-side .item {
    position: relative;
    width: 80%;
    margin: 10px;
    border: solid 2px white;
    text-align: center;
    justify-content: center;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

    .nav-side .item > a {
        text-decoration: none;
        color: white;
    }

    .nav-side .item:hover:not(#logdata) > a {
        color: yellow;
        background-color: rgba(255, 255, 255, 0.295);
        transition: ease 2s;
    }

    .nav-side .item:hover:not(#logdata) {
        color: yellow;
        border: solid 2px rgb(0, 0, 0);
        background-color: rgba(255, 255, 255, 0.295);
        transition: ease 2s;
    }

    .nav-side .item ul {
        color: white;
        display: none;
        text-align: center;
        justify-content: center;
        padding: 5px;
        transform: translateY(-9px);
        border-radius: 10px;
    }

    .nav-side .item:hover ul {
        display: block;
    }

    .nav-side .item ul li {
        list-style-type: none;
        text-align: center;
        height: 30px;
        animation: dropdownMove 1s alternate;
        transition: ease 0.7s;
        cursor: pointer;
    }

        .nav-side .item ul li a {
            text-decoration: none;
            color: white;
        }

        .nav-side .item ul li:hover a {
            transform: scale(1.2);
            text-shadow: 2px 2px black;
            color: blue;
        }

        .nav-side .item ul li:hover {
            transform: scale(1.2);
            text-shadow: 2px 2px black;
            color: blue;
        }
.list {
    background-color:white;
}

/* media */
@media (max-width:850px) {
    .dif {
        grid-area: item1;
        width: 94.5%;
    }

    footer {
        grid-template-columns: 48% 48%;
        grid-template-areas: 'item1 item1 item1';
        grid-gap: 20px;
    }
}

@media (max-width:800px) {
    .nav-web {
        display: none;
    }

    #logdata {
        margin-left: 0px;
        margin-right: 0px;
    }

        #logdata .Logout {
            margin-left: 0%;
            margin-right: 30%;
        }

    .nav-side {
        display: none;
    }

    .nav-min {
        display: flex;
    }

    .login input[type=submit] {
        margin-right: 40%;
        margin-left: 14%;
    }

    .login form input[type=text ],
    .login form input[type=password ] {
        font-size: large;
    }
}

@media (max-width:500px) {
    .login input[type=submit] {
        margin-right: 30%;
        margin-left: 14%;
    }


    body {
        background-color: #c95d5d;
    }
    #logdata .Logout {
        margin-left: 0%;
        margin-right: 10%;
    }


    .login {
        width: 100%;
    }

    .dif {
        grid-area: item2;
        width: 98%;
    }

    footer {
        grid-template-columns: 100%;
        grid-template-areas: 'item2';
        grid-gap: 20px;
    }
}
@media (max-width:400px) {
    #logdata .Logout {
        margin-left: 0%;
        margin-right: 4%;
    }
    ._menu {
        display: none;
    }
}

@keyframes dropdownMove {
    from {
        transform: translateY(-70%);
        opacity: 0.5;
    }

    to {
        transform: translateY(0);
        transform: rotateY(360deg);
        opacity: 1;
    }
}
