
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/Generales/Icon.png" />
    <link rel="stylesheet" href="~/Css/Footer.css">
    <link rel="stylesheet" href="~/Css/login.css">
    <link rel="stylesheet" href="~/Css/Layout.css">
    @RenderSection("OptionalCSS", required: false)
</head>
<body>
    <!-- navbar max -->
    <div class="nav-web">
        <div class="logo" id="logo">
            <a asp-action="Index">
                <img src="~/Images/Generales/DarkLogo.png" alt="">
            </a>
        </div>
        <div class="item">
            <a asp-action="Index">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
        </div>
        <div class="item">
            <i class="fa fa-th-list" aria-hidden="true"></i> Categories
            <ul>
                <li><a asp-controller="Categorie" asp-action="Mobiles">Mobiles</a></li>
                <li><a asp-controller="Categorie" asp-action="Computers">Computers</a></li>
                <li><a asp-controller="Categorie" asp-action="Others">Others</a></li>
            </ul>
        </div>
        @await Component.InvokeAsync("SignUp", 2)

    </div>
    <!-- navbar max -->
    <!-- navbar min -->
    <div class="nav-min">
        <div class="menu"><i class="fas fa-bars"></i><span class="_menu"> Menu</span></div>
        <div class="logo-min" id="logo">
            <a asp-action="Index">
                <img src="~/Images/Generales/DarkLogo.png" alt="">
            </a>
        </div>
    </div>
    <div class="nav-side">
        <div class="inner-nav">
            <div class="inner-logo" id="logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/Images/Generales/DarkLogo.png" alt="">
                </a>
            </div>
            <div class="close"><i class="fas fa-times"></i></div>
        </div>
        <div class="item">
            <a asp-controller="Home" asp-action="Index">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
        </div>
        <div class="item">
            <i class="fa fa-th-list" aria-hidden="true"></i> Categorie
            <ul>
                <li><a asp-controller="Categorie" asp-action="Mobiles">Mobiles</a></li>
                <li><a asp-controller="Categorie" asp-action="Mobiles">Computers</a></li>
                <li><a asp-controller="Categorie" asp-action="Mobiles">Others</a></li>

            </ul>
        </div>
        @await Component.InvokeAsync("SignUp", 4)

    </div>

    <!-- navbar min -->
    @* login *@
    <div class="login-container">
        @await Component.InvokeAsync("Login")
    </div>
    @* login *@
    <div class="list">
        @RenderBody()
        <partial name="Footer" />
    </div>


    <script src="~/Js/Anime.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/Js/Layout.js"></script>
    @RenderSection("OptionalJS", required: false)
</body>
</html>
